/*
#customer_list td,tr {    
    border: 2px solid #ddd;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
}
*/
.tb_search_lmargin {
	margin-left : 270px;
}
.fltBox1 {
	width: 85px;
}

.box2_01 {
	width:39px;
}

.box2_02 {
	width:90px;
}

.box2_03 {
	width:70px;
}

.box2_04 {
	width:119px;
}

.box2_05 {
	width:110px;
}

.box2_06 {
	width:80px;
}

.box2_07 {
	width:58px;
}

.box2_08 {
	width:110px;
}

.box2_09 {
	width:140px;
}
.box2_10 {
	width:40px;
}