

.a11y-hidden {
/* 	overflow: hidden; */
	position: absolute;
	clip:     rect(0 0 0 0); /* IE 6,7 */
	clip:     rect(0,0,0,0);
	width:    1px;
	height:   1px;
	margin:   -1px;
	border:   0;
	padding:  0;
}
.a11y-hidden.focusable:focus {
	overflow: visible;
	position: static;
	clip:     auto;
	width:    auto;
	height:   auto;
	margin:   0;
}
caption.a11y-hidden {position: static;}


.prettydropdown {
    position: relative;
    min-width: 102px;
    height:26px;
    box-sizing:border-box;
    outline:none;
}
.prettydropdown.loading {
  min-width: 0;
}
.prettydropdown > ul {
    position: absolute;
    top: 0;
    right: 0;
    width:130px;
	box-sizing: border-box;
    background: #fff;
	border: 1px solid #89b151;
    color: #1a1a1a;
    cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 9px;
	font-size: 0.9rem;
    margin: 0;
	padding: 0;
    text-align: center;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    z-index: 10;
    outline:none;
    transition: all 0.15s ease-in-out;
}

.prettydropdown.loading > ul {
  visibility: hidden;
  white-space: nowrap;
}
.prettydropdown > ul:focus, .prettydropdown:not(.disabled) > ul:hover {
  border-color: #89b151;
}
.prettydropdown:not(.disabled) > ul.active {
  width: auto;
  max-height: none !important;
  border-color: #89b151;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
}
.prettydropdown > ul.active:focus {
  outline: none;
}
.prettydropdown > ul.active.reverse {
  top: auto;
  bottom: 0;
}
.prettydropdown > ul > li {
    position: relative;
    min-width: 75px;   /* ul border값 빼주기 */  
    height: 24px;       /* ul border값 빼주기 */
    line-height: 1.35;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    display: none;
    margin: 0;
}
.prettydropdown.loading > ul > li {
  min-width: 0;
  display: block;
}
.prettydropdown > ul:not(.active) > li:not(.selected):first-child {
  color: transparent; /* Prevent FOUC */
}
.prettydropdown > ul > li:first-child, .prettydropdown > ul.active > li {
  display: block;
}
.prettydropdown > ul.active > li:not(.label):hover, 
.prettydropdown > ul.active > li.hover:not(.label), 
.prettydropdown > ul.active > li:first-child:hover:after {
  background: #89b151;
  color: #fff;
}
.prettydropdown > ul.active > li.nohover {
  background: inherit !important;
  color: inherit !important;
}
.prettydropdown > ul.active > li.hover:before, 
.prettydropdown > ul.active > li.nohover:after {
  border-top-color: #fff !important;
}
.prettydropdown > ul.active > li.hover:after, 
.prettydropdown > ul.active > li.nohover:before {
  border-top-color: #89b151 !important;
}
.prettydropdown.arrow > ul > li.selected:before, 
.prettydropdown.arrow > ul > li.selected:after {
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 8px;
  height: 16px;
  border: 8px solid transparent; /* Arrow size */
  box-sizing: border-box;
  content: '';
  display: none;
  margin: auto;
}
.prettydropdown.arrow.small > ul > li.selected:before, 
.prettydropdown.arrow.small > ul > li.selected:after {
  top: 4px;
  height: 8px;
  border-width: 4px;
}
.prettydropdown.arrow > ul > li.selected:before {
  border-top-color: #89b151; /* Arrow color */
}
.prettydropdown.arrow > ul > li.selected:after {
  top: 4px; /* Chevron thickness */
  border-top-color: #fff; /* Match background colour */
}
.prettydropdown.arrow.small > ul > li.selected:after {
  top: 2px; /* Chevron thickness */
}
.prettydropdown.arrow.triangle > ul > li.selected:after {
  content: none;
}
.prettydropdown > ul:hover > li.selected:before {
  border-top-color: #89b151;
}
.prettydropdown > ul.active > li.selected:before {
  border-top-color: #89b151;
}
.prettydropdown > ul.active > li.selected:hover:before {
  border-top-color: #fff;
}
.prettydropdown > ul.active > li.selected:hover:after {
  background: none;
  border-top-color: #89b151;
}


/* Disabled */
.prettydropdown.disabled, .prettydropdown > ul > li.disabled {
  opacity: 0.3;
}
.prettydropdown.disabled > ul > li, .prettydropdown > ul > li.disabled {
  cursor: not-allowed;
}

/* Divider Lines */
.prettydropdown.multiple > ul > li.selected + li, .prettydropdown.multiple > ul.reverse > li.selected,
.prettydropdown > ul > li.label, .prettydropdown > ul > li.label ~ li.selected {
  border-top-color: #89b151;
}