.tb_search_lmargin {
	margin-left : 165px;
}
.fltBox1 {
	width: 85px;
}

.box2_01 {
	width:39px;
}

.box2_02 {
	width:113px;
}

.box2_03 {
	width:130px;
}

.box2_04 {
	width:70px;
}

.box2_05 {
	width:80px;
}

.box2_06 {
	width:74px;
}

.box2_07 {
	width:74px;
}

.box2_08 {
	width:67px;
}

.box2_09 {
	width:130px;
}
.box2_10 {
	width:103px;
}
.box2_11 {
	width:99px;
}
.box2_12 {
	width:130px;
}
.box2_13 {
	width:130px;
}
.box2_14 {
	width:175px;
}